h1 {
  font-size: 18pt;
  font-family: arial, calibri, sans serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
}

.axis text {
  font-family: arial, calibri, sans serif;
  font-size: 10pt;
}

.btn {
  width: 100px;
  font-family: arial, calibri, sans serif;
  padding: 10px;
  border: solid 1px black;
  color: white;
}

#deaths {
  background-color: red;
}

#attacks {
  background-color: blue;
}


.label {
  font-family: arial, calibri, sans serif;
  font-size: 10pt;
  text-anchor: middle;
}

div.idiom_map {
  position:relative;
  left:0px;
  top:2px;
  border-style:dotted;
  border-color:coral;
}
div.idiom_cp {
  position:relative;
  top:2px;
  border-style:dotted;
  border-color:coral;
}
div.idiom_lc {
  position:relative;
  left:0px;
  bottom:2px;
  border-style:dotted;
  border-color:coral;
}
div.idiom_pc {
  position:relative;
  left:0px;
  bottom:2px;
  border-style:dotted;
  border-color:coral;
}
