h1 {
  font-size: 18pt;
  font-family: arial, calibri, sans serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
}

.axis text {
  font-family: arial, calibri, sans serif;
  font-size: 10pt;
}

.btn {
  width: 100px;
  font-family: arial, calibri, sans serif;
  padding: 10px;
  border: solid 1px black;
  color: white;
}

#deaths {
  background-color: red;
}

#events {
  background-color: blue;
}


.label {
  font-family: arial, calibri, sans serif;
  font-size: 10pt;
  text-anchor: middle;
}



.grid-container {
  display: grid;
  grid-template-areas:
    'map map map map cp cp'
    'l l l l l l'
    'pc pc pc pc pc pc'
  ;
  grid-gap: 10px;
  background-color: aquamarine;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2px 0;
  font-size: 30px;

  
}


.idiom_map {grid-area: map; }
.idiom_cp {grid-area: cp;}
.idiom_line {grid-area: l;}
.idiom_pc {grid-area: pc;}